@import "tailwindcss";


body {
  
  font-family: Arial, Helvetica, sans-serif;
  
  
}
.btn{
   
   background-color: #F3B659;
   color: #000;
   padding: 10px 20px;
   border-radius: 5px;
  
   
}


