@import "tailwindcss";


body {
  
  font-family: Arial, Helvetica, sans-serif;
  
  
}
.light {
  background-color: white;
}

/* H1 override */
.light h1 {
  color: #0B493A;
}

/* Button override */
.light button {
  background-color: #0B493A;
  color: #F3B659;
}


